<h1>To Do</h1>

<% if !(@lists.==(nil)) %>
  <p>Available list(s):</p>

  <ul>
    <% @lists.each() do |list| %>
      <li>
        <a href="/list/<%= list.id() %>"><%= list.name() %></a>
        <form action="/" method="post">
          <input id="delete" name="delete" type="hidden" value="<%= list.id() %>"></input>
          <button type="submit" class="btn-danger">Delete</button>
        </form>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You don't have any lists right now!</p>
<% end %>

<form action = "/list/add" method = "post">
  <div class = "form-group">
    <label for = "name">Create a new list by entering its name below:</label>
    <input id = "name" name = "name" class = "form-control" type = "text">
  </div>
  <button type = "submit" class="btn-success">Add</button>
</form>
