<div>
</br>
  <% if @list.tasks().length().==(0)%>
    <p> Your list: <%= @name %> has been added</p>
  <% else %>
    <p> Your task: <%= @task.description() %> has been added to the list <%= @list.name() %></p>
  <% end %>
</div>

<a href="/">View or create a list</a>
</br>
<a href="/list/<%= @list.id() %>/task/add">Add a new task to this list</a>
